name: CI
on:
  push:
    branches-ignore:
      - main
  workflow_call:
env:
  SWITCHBOT_TOKEN: ${{ secrets.SWITCHBOT_TOKEN }}
  SWITCHBOT_CLIENT_SECRET: ${{ secrets.SWITCHBOT_CLIENT_SECRET }}
  NOTIFICATION_WEBHOOK_URL: ${{ secrets.NOTIFICATION_WEBHOOK_URL }}
jobs:
  ci:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install dev deps
        uses: jdx/mise-action@v3
      - name: Get pnpm cache directory path
        id: pnpm-cache-dir-path
        run: echo "dir=$(pnpm store path --silent)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache-dir-path.outputs.dir }}
          key: pnpm-cache-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-cache-${{ runner.os }}-
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      # `wrangler types`を成功させるため
      - name: Create .dev.vars
        run: |
          echo "SWITCHBOT_TOKEN=${SWITCHBOT_TOKEN}" > .dev.vars
          echo "SWITCHBOT_CLIENT_SECRET=${SWITCHBOT_CLIENT_SECRET}" >> .dev.vars
          echo "NOTIFICATION_WEBHOOK_URL=${NOTIFICATION_WEBHOOK_URL}" >> .dev.vars
      - name: Generate types
        run: pnpm run cf-typegen
      - name: Type check
        run: pnpm run typecheck
      - name: Lint
        run: pnpm run lint
      - name: Format check
        run: pnpm run format
      - name: Run tests
        run: pnpm run test
      - name: Build
        run: pnpm run build
