name: Deploy to Cloudflare
on:
  push:
    branches: [main]
env:
  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  SWITCHBOT_TOKEN: ${{ secrets.SWITCHBOT_TOKEN }}
  SWITCHBOT_CLIENT_SECRET: ${{ secrets.SWITCHBOT_CLIENT_SECRET }}
  NOTIFICATION_WEBHOOK_URL: ${{ secrets.NOTIFICATION_WEBHOOK_URL }}
jobs:
  ci:
    uses: clov3r-cc/auto-run-ac/.github/workflows/ci.yml@main
  deploy:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    needs: [ci]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install dev deps
        uses: jdx/mise-action@v3
      - name: Get pnpm cache directory path
        id: pnpm-cache-dir-path
        run: echo "dir=$(pnpm store path --silent)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache-dir-path.outputs.dir }}
          key: pnpm-cache-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-cache-${{ runner.os }}-
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Generate types
        run: pnpm run cf-typegen
      - name: Build
        run: pnpm run build
      - name: Deploy to Cloudflare Workers
        run: pnpm dlx wrangler deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
